{% extends 'base.html' %}
{% load thumbnail %}

{% block content%}
    <div class="row">
        <div class="col-12">
            <h1>Recipes <small>({{ object_list|length }})</small></h1>
        </div>
    </div>
    {% for recipe in object_list %}
        <div class="row">
            <div class="col-3">
                {% thumbnail recipe.image "320" as im %}
                    <img src="{{ im.url }}">
                {% empty %}
                    {% thumbnail recipe.get_placeholder_image "320" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail%}
                {% endthumbnail %}
            </div>
            <div class="col-9">
                <h2><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></h2>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
