{% extends 'base.html' %}
{% load thumbnail %}

{% block content%}
    <div class="row">
        <div class="col-12">
            <h1>Recipes <small>({{ object_list|length }})</small></h1>
        </div>
    </div>
    {% for recipe in object_list %}
        <div class="row">
            <a href="{{ recipe.get_absolute_url }}">
                <div class="col-9-sm">
                    <p>{{ recipe.title }}</p>
                </div>
                <div class="col-3-sm">
                    {% thumbnail recipe.image "414" as im %}
                        <img class="border__radius-4" src="{{ im.url }}">
                    {% empty %}
                        {% thumbnail recipe.get_placeholder_image "414" as im %}
                            <img class="border__radius-4" src="{{ im.url }}">
                        {% endthumbnail%}
                    {% endthumbnail %}
                </div>
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}
