{% extends 'base.html' %}
{% load thumbnail %}

{% block content%}
    <div class="row">
        <div class="col-12">
            <h1>Recipes <small>({{ object_list|length }})</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="searchbox">Search</label>
            <input
                type="search"
                oninput="liveSearch()"
                id="searchbox"
            >
        </div>
    </div>
    {% for recipe in object_list %}
        <div class="row recipe" data-ingredients="{% for ingredient in recipe.ingredient_set.all %}{{ ingredient.name }} {% endfor %}">
            <a href="{{ recipe.get_absolute_url }}">
                <div class="col-9-sm">
                    <p>
                        {% if recipe.favourite %}<i class="fa fa-heart"></i>{% endif %}
                        {{ recipe.title }}
                    </p>
                </div>
                <div class="col-3-sm">
                    {% thumbnail recipe.recipeimage_set.first.image "414" as im %}
                        <img class="border__radius-4" src="{{ im.url }}">
                    {% empty %}
                        {% thumbnail recipe.get_placeholder_image "414" as im %}
                            <img class="border__radius-4" src="{{ im.url }}">
                        {% endthumbnail%}
                    {% endthumbnail %}
                </div>
            </a>
            <hr>
        </div>
    {% endfor %}
    <script>
        function liveSearch() {
            let recipes = document.querySelectorAll('.recipe');
            let searchQuery = document.getElementById("searchbox").value.toLowerCase();
            for (var i = 0; i < recipes.length; i++) {
                let show = false;
                let recipe = recipes[i];
                if ( recipe.innerText.toLowerCase().includes(searchQuery) ) {
                    show = true;
                }
                if ( recipe.getAttribute('data-ingredients').toLowerCase().includes(searchQuery) ) {
                    show = true;
                }
                recipe.classList.toggle("is-hidden", !show);
            }
        }
    </script>
{% endblock content %}
