{% extends 'base.html' %}
{% load thumbnail %}

{% block root_data_attribute %}data-diet="{{ object.diet }}"{% endblock root_data_attribute %}
{% block content %}
    <a class="back-link" href="/"><i class="fa fa-2x fa-circle-chevron-left"></i><span class="sr-only"> back to recipes</span></a>

    {% thumbnail object.recipeimage_set.last.image "1000" as im %}
        <img src="{{ im.url }}">
    {% empty %}
        {% thumbnail recipe.get_placeholder_image "1000" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail%}
    {% endthumbnail %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{{ object.title }}<small><br>{{ object.diet|capfirst }}</small></h2>
                <p><strong></strong></p>
                <p><i class="fa fa-play-circle"></i> <a href="javascript:void(0)" id="cook">Cook</a></p>
                <p><i class="fa fa-user-group"></i> Serves: <strong>{{ object.serves }}</strong></p>
                <p><i class="fa fa-clock"></i> Prep and cooking time: <strong>{{ object.prep_and_cooking_time }}m</strong></p>
                <p><i class="fa fa-cubes"></i> Carb portions: <strong>{{ object.display_carb_portions }}</strong></p>
                <p><i class="fa fa-pen-to-square"></i> <a href="{% url 'admin:recipes_recipe_change' object.id %}">Edit</a></p>
                <hr>

                {% include 'includes/recipe_ingredients_by_location.html' %}

                {% if object.note_set.all %}
                    <h2>Notes</h2>
                    {% for note in object.note_set.all %}
                        <p><strong>{{ note.date|date:"d F Y" }}</strong> &mdash; {{ note.text }}</p>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="cook-modal" id="cook-modal">
        <a href="javascript:void(0)" id="modal_close"><i class="fa fa-2x fa-circle-xmark"></i><span class="sr-only">Close</span></a>
        <div id="modal_ingredients" class="active">
            {% include 'includes/recipe_ingredients_by_team.html' %}
        </div>
        <div id="modal_method">
            <ol>
                {% for line in object.get_method_lines %}
                    <li>{{line}}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="modal_tab_selector">
            <a id="ingredients_tab_link" href="javascript:void(0)"><i class="fa fa-carrot"></i><span class="sr-only">ingredients</span></a> <a id="method_tab_link" href="javascript:void(0)"><i class="fa fa-mortar-pestle"></i><span class="sr-only">method</span></a>
        </div>
    </div>
    <script>
        $(function(){
            var $ingredientsTab = $('#modal_ingredients');
            var $methodTab = $('#modal_method');
            $('#cook').on('click', function(){
                $(window).scrollTop(0);
                $('#cook-modal').addClass('active');
                $('body').addClass('no-overflow');
                $('html').addClass('no-overflow');
            });
            $('#modal_close').on('click', function(){
                $('#cook-modal').removeClass('active');
                $('body').removeClass('no-overflow');
                $('html').removeClass('no-overflow');
            });
            $('#modal_ingredients li').on('click', function(){
                $(this).toggleClass('opacity-50');
            })
            $('#ingredients_tab_link').on('click', function(){
                $ingredientsTab.addClass('active');
                $methodTab.removeClass('active');
            });
            $('#method_tab_link').on('click', function(){
                $methodTab.addClass('active');
                $ingredientsTab.removeClass('active');
                highlightCurrentStep();
            });

            var $firstStep = $methodTab.find('li:first');
            var $lastStep = $methodTab.find('li:last');
            var cssStringFirst = 'calc(50vh - ' + $firstStep.outerHeight() + 'px)'
            var cssStringLast = 'calc(50vh - ' + $lastStep.outerHeight() + 'px)'
            $methodTab.css({'padding-top': cssStringFirst, 'padding-bottom': cssStringLast});

            $methodTab.on('scroll', function(){
                highlightCurrentStep();
            });

            function highlightCurrentStep() {
                if ($methodTab.hasClass('active')) {
                    $methodTab.find('li').each(function(el){
                        el = $(this);
                        var top_of_element = el.offset().top;
                        var bottom_of_element = el.offset().top + el.outerHeight(true);
                        var middle_of_screen = $(window).scrollTop() + ($(window).innerHeight()/2);
                        var top_of_screen = $(window).scrollTop();
                        if (bottom_of_element < middle_of_screen || top_of_element > middle_of_screen) {
                            el.css({'opacity': '0.25'});
                        } else {
                            el.css({'opacity': '1'});
                        }
                    })
                }
            }
        });

    </script>
{% endblock content %}
