{% load compress %}
{% load static %}
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Recipe Book">
<meta name="viewport" content="viewport-fit=cover, user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="author" href="humans.txt" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed for www.jamesrampton.uk" href="/feed.xml" />
<title>{% block title %}Recipe Book{% endblock %}</title>

<!-- favicons -->
<link rel="icon" href="{% static '/images/favicon/favicon-32.png' %}" sizes="32x32">
<link rel="icon" href="{% static '/images/favicon/favicon-128.png' %}" sizes="128x128">
<link rel="icon" href="{% static '/images/favicon/favicon-192.png' %}" sizes="192x192">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="{% static '/images/favicon/favicon-196.png' %}">

<!-- iOS -->
<link rel="apple-touch-icon" href="{% static '/images/favicon/touch-icon-180.png' %}?v=4">
<link rel="apple-touch-icon" href="{% static '/images/favicon/touch-icon-152.png' %}?v=4" sizes="152x152">
<link rel="apple-touch-icon" href="{% static '/images/favicon/touch-icon-180.png' %}?v=4" sizes="180x180">
<!-- macOS -->
<link rel="mask-icon" href="{% static '/images/favicon/pinned_icon.svg' %}" color="#333333">
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "scss/screen.scss" %}?v=17" />
{% endcompress %}
<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.js"></script>
<script src="https://kit.fontawesome.com/ea942b1dc0.js" crossorigin="anonymous"></script>
