* {
    box-sizing: border-box;
}

::selection {
    background-color: rgba($colour_accent, 0.2);
}

:root {
    background-color: $colour_white;

    &[data-diet="vegan"] {
        background-color: $colour_green__light;
    }

    &[data-diet="vegetarian"] {
        background-color: $colour_blue__light;
    }

    &[data-diet="meat"] {
        background-color: $colour_pink__light;
    }
}

body {
    font-family: $font-family;
    font-size: 20px;
    color: $colour_main;
    // background-color: $colour_bright;
    margin: 0;
}

a,
a:visited {
    text-decoration: underline;
    text-decoration-color: $colour_accent;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
    color: $colour_main;
    transition: background-color 0.2s linear;

    &.no-border {
        border-bottom: none;
    }
}

a:h§ {
    background-color: rgba($colour_accent, 0.2);
}

ul {
    list-style-type: "›   ";
}

ol li {
    margin-bottom: 2em;
    list-style-position: inside;
}

li::marker {
    color: $colour_main_transprent;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.back-link {
    position: fixed;
    top: 15px;
    left: 15px;
    opacity: 0.8;
    z-index: 10;
}

.no-overflow {
    overflow: hidden !important;
    position: relative;
    height: 100vh;
    height: -webkit-fill-available;
}

.opacity-50 {
    opacity: 0.5 !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

small {
    font-size: 70%;
}
