$tab_nav_height: 4rem;

.cook-modal {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100vw;
    top: 0;
    height: 100vh;
    background: $colour_white;
    transition: transform 300ms ease, opacity 300ms ease;
    transform: translateY(100vh);
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    z-index: 20;

    &.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: initial;
    }

    #modal_ingredients {
        padding: 2rem 2rem $tab_nav_height 2rem;
        transition: transform 300ms ease;
        height: 100vh;
        transform: translateX(-100vw);
        overflow-y: scroll;
        position: absolute;
        top: 0;

        &.active {
            transform: translateX(0);
        }
    }

    #modal_method {
        padding: 2rem 2rem $tab_nav_height 2rem;
        transition: transform 300ms ease;
        height: 100vh;
        transform: translateX(100vw);
        overflow-y: scroll;
        position: absolute;
        top: 0;

        &.active {
            transform: translateX(0);
        }
    }

    .modal_tab_selector {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 4rem;
        background-color: $colour_bright;
        text-align: center;

        a {
            display: inline-block;
            width: 49%;
            color: $colour_main;
            text-align: center;
            text-decoration: none;
            line-height: $tab_nav_height;
        }
    }
}

#modal_close {
    position: fixed;
    z-index: 500;
    top: 15px;
    right: 15px;
    text-decoration: none;
    text-align: center;
    opacity: 0.8;
}
