// fonts
@font-face {
    font-family: 'scillaregular';
    src: url('../fonts/scilla-regular-webfont.eot');
    src: url('../fonts/scilla-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/scilla-regular-webfont.woff2') format('woff2'),
        url('../fonts/scilla-regular-webfont.woff') format('woff'),
        url('../fonts/scilla-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol';
    src: url('../fonts/bariol_regular-webfont.eot');
    src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bariol_regular-webfont.woff2') format('woff2'),
        url('../fonts/bariol_regular-webfont.woff') format('woff'),
        url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
        url('../fonts/bariol_regular-webfont.svg#bariolregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol';
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bariol_bold-webfont.woff2') format('woff2'),
        url('../fonts/bariol_bold-webfont.woff') format('woff'),
        url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
        url('../fonts/bariol_bold-webfont.svg#bariolbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bariol';
    src: url('../fonts/bariol_regular_italic-webfont.eot');
    src: url('../fonts/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bariol_regular_italic-webfont.woff2') format('woff2'),
        url('../fonts/bariol_regular_italic-webfont.woff') format('woff'),
        url('../fonts/bariol_regular_italic-webfont.ttf') format('truetype'),
        url('../fonts/bariol_regular_italic-webfont.svg#bariolitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

$font-family: 'bariol';
$font-family-all-caps: 'bariol';
$font-family-mono: monospace;
$font-weight-super-light: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-heavy: 700;
$font-weight-super-heavy: 900;
$font-height: 1.5;

// colours
$colour_main: #555555;
$colour_main_transprent: rgba($colour_main, 0.5);
$colour_white: #ffffff;
$colour_light: #eeeeee;
$colour_bright: #dfe0df;
$colour_bright_alt: rgba($colour_bright, 0.2);
$colour_medium: #dddddd;
$colour_dark: #1e1e1e;
$colour_black: #000000;
$colour_accent: #20c997;
$colour_accent_alt: #20c997;

$colour_pink: #ffb3ba;
$colour_orange: #ffdfba;
$colour_yellow: #ffffba;
$colour_green: #baffc9;
$colour_blue: #bae1ff;

$colour_pink__light: lighten($colour_pink, 10%);
$colour_orange__light: lighten($colour_orange, 10%);
$colour_yellow__light: lighten($colour_yellow, 10%);
$colour_green__light: lighten($colour_green, 10%);
$colour_blue__light: lighten($colour_blue, 10%);

$colour_red: #b00608;

// box model
$padding: 1.5em;

// grid
$grid-width: 96%;
$grid-gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
