<!DOCTYPE html>
<html lang="en" {% block root_data_attribute %}{% endblock root_data_attribute %}>
    <head>
        {% include "includes/head.html" %}
    </head>
    <body ontouchstart=””>
        {% comment %} <div class="container">
            <div class="row">
                <div class="col-12 header-col">
                    {% include "includes/header.html" %}
                </div>
            </div>
        </div> {% endcomment %}
        {% block content %}{% endblock content %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% include "includes/footer.html" %}
                </div>
            </div>
        </div>
        {% comment %} <script>
            var hamburger = document.querySelector(".hamburger");
            var navMenu = document.querySelector(".nav-menu");
            hamburger.addEventListener("click", mobileMenu);

            function mobileMenu() {
                hamburger.classList.toggle("active");
                navMenu.classList.toggle("active");
                document.body.classList.toggle('no-overflow');
            }
        </script> {% endcomment %}
    </body>
</html>
